{% extends "default.html"%}
{% block body%}
<div class="home">
    <div class="row align-items-center">
        <div class="txt col-12 col-md-6 text-center">
            <h1 class="text-center text-primary"> Welcome to Assiut National University  </h1>
            <div class="">
                <p>Please <button class="btn btn-primary">login</button> to access all features.</p>
            </div>
        </div>
        <div class="img col-12 col-md-6" style="display: flex; justify-content: center; align-items: center; padding: 20px;">
            <img src="{{ url_for('static', filename='images/ASSIUT NATIONAL .jpg') }}" width="50%" style="max-width: 500px;" />
        </div>
    </div>
</div>

{% endblock %}
